@model IEnumerable<ASP_MVC.Models.Jeu.JeuListItem>

<p>
    <a asp-action="Create" asp-controller="Jeu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Jeu", new { id=item.Jeu_Id }) |
                    @Html.ActionLink("Details", "Details", "Jeu", new { id = item.Jeu_Id }) |
                    @Html.ActionLink("Delete", "Delete", "Jeu", new { id = item.Jeu_Id })
            </td>
        </tr>
}
    </tbody>
</table>
